@tailwind base;
@tailwind components;
@tailwind utilities;

.todo-container::before {
    content: "";
    position: absolute;
    inset: 0;
    height: 24rem;
    background-image: linear-gradient(
            to right,
            rgba(0, 0, 255, 0.55),
            rgba(128, 0, 128, 0.85)
        ),
        url("https://plus.unsplash.com/premium_photo-1673240367277-e1d394465b56?fm=jpg&q=60&w=3000&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8bW9udGFpbnxlbnwwfHwwfHx8MA%3D%3D");
    background-position: 50% 35%;
    background-repeat: no-repeat;
    background-size: max(1920px, 100%);
}

.todo-container::after {
    content: "";
    position: absolute;
    inset: 0;
    background: var(--bg-secondary);

    transform: skewY(-6deg);
    pointer-events: none;
    opacity: 0.2;
}
.bg {
    background-color: var(--bg);
}
.bg-secondary {
    background-color: var(--bg-secondary);
}
.text {
    color: var(--text);
}
.text-muted {
    color: var(--text-muted);
}
.accent {
    color: var(--accent);
    border-color: var(--accent);
    outline: var(--accent);
}
